.in{
    margin:40px auto;
    display: grid;
    border-radius: 9px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.288);
    padding: 3px 9px;
    font-weight: bold;
    border:none;
}
.in:focus{
    outline:none;
}
.submit{
    margin: auto;
    display: grid;
    background-color: rgb(49, 179, 255);
    margin-top: 20px;
    border-radius: 9px;
    font-weight: bold;
    color: rgb(71, 70, 70);
    border:none;
    border:2px solid rgb(49, 179, 255);
}
.submit:hover{
    
    background-color: rgb(208, 227, 240);
}

